.hero-heading {
    //font-size: 4xl;
    font-weight: bold;
    background: linear-gradient(to right, #1c4350 0%, #428da2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding: 3rem 0;
}