@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

.hero-section {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* padding: 100px; */
}

.hero-content {
  margin-top: 90px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
  /* max-width: 1200px;
  width: 100%; */
}

.hero-text {
  margin-left: 44px;
  color: #191242;
  align-items: center;
}

.hero-text h1 {
  text-align: center;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  font-size: 44px;
  line-height: 1.2;
  margin-bottom: 30px;
  margin-top: 50px;
}

.hero-text p {
  font-family: "Kodchasan";
  font-size: 1.2vmax;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-top: 1.2vmax;
  margin-bottom: 30px;
}

.button-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.job-button {
  background-color: #191242;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 1.1rem;
  float: right;
  border-radius: 30px;
}

/* .job-button:hover {
  transform: scale(1.1);
} */

.innovation-section {
  margin-top: 5rem;
  padding-top: 5rem;
  background-color: #f9f9f9;
}

.innovation-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 85%;
  margin: 0 auto;
}

.innovation-container h2 {
  text-align: left;
  font-family: "Playfair Display";
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #14213d;
}

.innovation-container p {
  text-align: left;
  font-size: 1.2vmax;
  padding: 1rem 0;
  color: black;
}

.card-section {
  display: flex;
  gap: 2rem;
  margin-top: 40px;
  border-radius: 15px;
}

.card {
  /* height: 300px;  */
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.card:hover {
  transform: scale(1.05); /* Increase scale on hover */
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3); /* Increased shadow on hover for depth */
}

.content {
  padding: 2rem 3rem;
}
.card .content h3 {
  color: rgb(25 18 66 / var(--tw-text-opacity));
  font-size: 24px;
  font-weight: bold;
  font-family: "Playfair Display";
  /* margin-bottom: 20px; */
}

.card .content p {
  font-size: 1rem;
  background: (90deg, #232b54 0%, #000b9e 70.87%);
  color: #555;
  font-family: "Kodchasan";
}

.core-values {
  text-align: center;
  width: 300px;
}

.values {
  color: #191242;
}

.career-openings {
  text-align: left;
  font-family: "Playfair Display";
  /* margin-top: 70px; */
  color: #f5f5f5;
}
.current {
  font-family: "Playfair Display";
  font-size: 2rem;
}

.career-openings {
  margin-left: 50px;
  font-family: "Playfair Display";
  font-size: 2rem;
}

.highlight {
  font-family: "Playfair Display";
  font-size: 2rem;
  color: #214e7b;
}

.career-openings {
  padding: 20px;
}

.career-openings p:first-child {
  text-align: left;
  font-family: "Playfair Display";
  font-weight: bold;
  margin-left: 40px;
  margin-top: 50px;
  margin-bottom: 1rem;
  color: #14213d;
}

.career-openings p:not(:first-child) {
  text-align: left;
  font-family: "Playfair Display";
  color: #14213d;
}
.text {
  margin-left: 40px;
}

.job-listings {
  margin-top: 40px;
}

.job-listings h2 {
  color: #333;
}

/* .highlight {
  color: #e84c4f;
  /* Red for highlighted text */
*/ .openings-table {
  margin-left: 40px;
  width: 100%;
  margin-top: 50px;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.openings-table tr {
  border-bottom: 1px solid #e6e6e6;
}

.openings-table td {
  padding: 15px;
  color: #333;
  font-size: 1rem;
}

.openings-table td:last-child {
  text-align: right;
  font-weight: bold;
  font-size: 1.2rem;
}

.openings-table tr:hover {
  background-color: #f9f9f9;
  border: 5px solid #94bbff;
}

@media (max-width: 768px) {
  .openings-table td {
    display: block;
    width: 100%;
  }

  .openings-table td:last-child {
    text-align: left;
    margin-top: 10px;
  }
}

/* Job Card */
.job-cards-container {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 40px;
}

.job-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  height: fit-content;
  margin: auto;
  /* max-width: 600px; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin-bottom: 20px;
}

.job-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 2px solid #14213d;
}

.job-image {
  width: 100%;
  height: 0px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.job-info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 150px;
}

.job-info h3 {
  /* font-family: "Kodchasan"; */
  font-size: 1.5rem;
  margin-right: 10px;
  color: black;
}

.job-info p {
  font-size: 1.3rem;
  margin: 0;
}

.job-action {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d0e8f2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.job-action .icon {
  color: #0077b6;
  font-size: 1.5rem;
}

.job-action:hover {
  background-color: #14213d;
}

.job-action .icon:hover {
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .job-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .job-cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
