.hero-heading {
    //font-size: 4xl;
    font-weight: bold;
    background: linear-gradient(to right, #3a1a76 0%, #1e45c3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding: 3rem 0;
}