.change-color {
    background: linear-gradient(90deg, #232b54 0%, #000b9e 70.87%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}